 #regOut{
    position: absolute;
    right: 0px;
 }

 #entryUser{
    position: absolute;
    right: 100px;
 }

 #cntNav{
    position: absolute;
    right: 400px;
 }

 #timeNav{
    position: absolute;
    right: 600px;
 }
