.listProduct{
    position: absolute;
    width: 900px;
    height: 60px;
    left: 4.03%;
    right: 4.03%;
    top: 8.82%;
    bottom: 83.73%;
    text-align: center;
}

.productPreview{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 216px;
    height: 209px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border: solid 3px black;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
  
.productPreviewImage{
    width: 141px;
    height: 128px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}

.productPreviewPrice{
    width: 81px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.productName{
    position: absolute;
    width: 233px;
    height: 72px;
    left: 64.5%;
    right: 6.38%;
    top: 12.97%;
    bottom: 82.48%;
}

.productPrice{
    position: absolute;
    width: 276px;
    height: 83px;
    left: 61.75%;
    right: 3.75%;
    top: 19.8%;
    bottom: 74.95%;
  }

.productImage{
    position: absolute;
    width: 407px;
    height: 398px;
    left: 5.63%;
    right: 43.5%;
    top: 9.87%;
    bottom: 64.96%;
    border-radius: 12px;
}

.productTitle{
    position: absolute;
    width: 291px;
    height: 58px;
    left: 5.5%;
    right: 58.13%;
    top: 65%;
    bottom: 55.6%;
}

.buttonsBLock{
    position: absolute;
    width: 200px;
    height: 30px;
    right: 250px;
    top: 350px;
    color: black;
}

.productDescription{
    position: absolute;
    width: 407px;
    height: 419px;
    left: 5.5%;
    right: 43.63%;
    top: 70%;
    bottom: 27.32%;
}

.productActive{
    position: absolute;
    width: 276px;
    height: 61px;
    left: 61.75%;
    right: 3.75%;
    top: 28.02%;
    bottom: 68.12%;
    border-radius: 15px;
    text-align: center;
    background: rgb(196, 196, 196);
}

.productError{
    position: absolute;
    width: 276px;
    height: 110px;
    left: 61.75%;
    right: 3.75%;
    top: 35.61%;
    bottom: 57.43%;
}