.mainPart{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 900px;
    height: 780px;
    margin: -1px;
    margin-top: 13px;
    overflow: hidden;
    margin-left: 30px;
    border: 2px solid black;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
  }

  .newsPart{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 300px;
    height: 780px;
    margin: -1px;
    margin-top: 13px;
    overflow: hidden;
    border: 2px solid black;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    text-overflow: ellipsis;
    background: #ffffff;
  }

