.inputWrapper{
    display:block;
}

#News{
    position: absolute;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    left: 20px
}

#btnNews{
    position: absolute;
    bottom: 20px;
}

#newsTable{
    height: 500px;
    overflow-y: scroll;
}

#eventContent{
    height: 100px !important;
    width: 400px;
}