.card-img-top{
    height: 200px;
    width: 200px;
    cursor: pointer
}

.card{
    width: 200px;
}

.card-body{
    width: 200px;
    height:150px;
    cursor: pointer
}

.card-footer{
    height: 100px;
    text-align: center;
}


#ListProducts{
    position: absolute; 
    width: 900px; 
    height: 600px;  
    overflow-y: scroll;
    background-color: white;
}

#Products{
    position: absolute; 
    width: 900px; 
    height: 600px;  
    top: 70px;
    left: 500px;
    background-color: white;
}

#product{
    position: absolute;
    right: 200px;;
    width: 700px;
}

#productPicture{
    width: 400px;
    height: 400px;
}

#productPrice{
    position: absolute;
    right: 30px;
    top:130px;
}

#prouductName{
    position: absolute;
    right: 30px;
    top:100px;
}

#productBtn{
    position: absolute;
    right: 30px;
    top:200px;
}