#exitButton{
    position: absolute;
    right: 50px;
    bottom: 10px;
}

#eventDiv{
    background-color: lightblue;
    width: 300px;
    height: 780px;
}

#itemListDiv{
    position: absolute;
    left: 305px;
    top: 8px;
    background-color:plum;
    width: 1000px;
    height: 780px;
}

#userPlace{
    position: absolute;
    top: 8px;
    right: 20px;
    background-color:gray;
    width: 100px;
    height: 60px;
}

#clockPlace{
    position: absolute;
    top: 8px;
    right: 120px;
    width: 100px;
    height: 30px;
    background-color: green;
    text-align: center;
}

#counterPlace{
    position: absolute;
    top: 38px;
    right: 120px;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: aqua;
}



#enterDiv{
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 40px;
}



#avatar{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}

#wishList{
    width: 800px;
    height: 400px;
    background-color: violet;
    position: absolute;
    left: 500px;
    top: 8px;
}