.userPreview{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 13px;
    right: 0px;    
    border: solid 3px black;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.userNick{

}

.userFavorites{
    
}

